.nav-link.active{
    font-weight: bold;
    border-bottom: 3px solid rgb(212, 136, 5);
}
.navbar{
    box-shadow: 0 2px 8px rgb(60, 103, 86);
}
#root {
  background-color: #adcfe9;
  min-height: 100vh;
  font-family: sans-serif;
}
.container-fluid{
    background-color: #53a5e3;
}